body {
  width: 960px;
  background-image: url(../images/tex2res4.png);
  margin-left: 480px;
  margin-right: 480px;
} 

.wrapper {
  background: #ffffff;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 71%;
  text-align: right;
  display: inline-block;
  height: 70px;

}

.content{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 10px;
  word-spacing: 10px;
  height: 200px;
}

h5{
  background: white;
  color: teal;
  border-top: 35%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutme {
  font-size: 40px;
  margin-top: 0px;
  padding: 10px 0 0 10px;
  background-color: white;
  color: teal;
}

.words{
  background-color: white;
  font-size: 15px;
  height: 150px;
  color: gray;
  padding: 0px 10px 200px;
  line-height: 30px;
  margin-right: 10px;
}

.selfie {
  padding: 0 0 0 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width: 960px;
  margin: 0 auto;
  padding-left: 500px;
}

.clearfix {
  width: 960px;
  margin-bottom: 44px;
}

.mainheader{
  width: 50%;
}
  
h1 {
    float: left;
    color: white;
    background-color: teal;
    height: 50px;
    text-align: center;
    border-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 29px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.selfie {
    float: left;
    height: 145px;
    width: 200px;
    border: 10px;
    margin: 10px 20px 0 10px;
}

ul {
    padding-left: 14px;
    padding-top: 12px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.container{
    width: 960px;
    background-color: white;
}

a {
  padding-right: 33px;
  color: grey;
  text-decoration: none;
}

h2 {padding-left: 10px;
  padding-top: 18px;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

hr {
  margin-left: 11.5px;
  margin-right: 35px;
}